# IKT215 Exercise 1: Preprocessing Data for a Pattern Recognition System

the client has 
-  historical ovacado prices
- and sales
in the US market

they want this data and predictive models to gain a competetive edge

intrested in
- prices of ovacados
- no. of ovacados sold

Data:
- prices and sales data
- feature explanations

In [14]:
import pandas as pd

In [15]:
import os
import sys
DATA_LOCATION = os.path.join(os.path.dirname(os.getcwd()), 'data')
RAW_LOCATION = os.path.join(DATA_LOCATION, 'raw')
RAW_LOCATION

'/Users/valiantlynx/projects/pattern-recognition/data/raw'

In [20]:
prices_and_sales_df = pd.read_csv(os.path.join(RAW_LOCATION, 'price-and-sales-data.csv'))
features_df = pd.read_excel(os.path.join(RAW_LOCATION, 'feature-explanations.xlsx'))

In [25]:
features_df.head()

   Unnamed: 0    Unnamed: 1                                         Unnamed: 2
0         NaN       Feature                                       Explanation
1         NaN          Date  Date of last day (a sunday) in the given week ...
2         NaN  AveragePrice                        Per unit (per avocado) cost
3         NaN  Total Volume                      Total number of avocados sold
4         NaN          4046  Total number of avocados with PLU (Product Loo...

In [23]:
prices_and_sales_df.sample(10)

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
13178,2017-05-07,1.09,121483.27,60550.46,3285.18,9701.89,47945.74,45880.43,NaN,9.97,conventional,2017,Boise
23786,2019-04-21,1.51,4530588.27,277991.72,2691950.24,30835.95,1529810.36,1186740.09,342666.94,403.33,conventional,2019,Northeast
18285,2018-04-01,1.16,2122698.81,806170.63,649784.01,9332.56,657411.61,602960.19,53739.39,712.03,conventional,2018,Plains
15042,2017-09-03,1.20,727912.24,407081.82,136998.12,5005.72,178826.58,109254.62,66904.18,2667.78,conventional,2017,PhoenixTucson
19218,2018-05-27,1.27,8557.45,115.44,445.33,0.00,7996.68,7976.68,20.00,0.00,organic,2018,Tampa
5227,2015-12-06,0.81,726504.61,117507.93,NaN,9120.48,380463.57,380298.38,0.00,165.19,conventional,2015,Seattle
15300,2017-09-17,NaN,5487.10,1148.88,131.26,0.00,4206.96,4200.29,6.67,0.00,organic,2017,LasVegas
2510,2015-06-14,1.03,172302.47,103389.69,NaN,7010.57,44678.04,38948.35,NaN,0.00,conventional,2015,Nashville
17785,2018-02-25,1.74,90985.40,10382.97,35406.21,0.00,45196.22,45169.68,26.54,0.00,organic,2018,LosAngeles
17833,2018-03-04,1.21,289090.98,65788.57,130046.74,150.90,93104.77,82676.57,8658.20,1770.00,conventional,2018,HarrisburgScranton

In [24]:
prices_and_sales_df.head(10)

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.00,conventional,2015,Albany
1,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
2,2015-01-04,NaN,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.00,conventional,2015,BaltimoreWashington
3,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.00,conventional,2015,Boise
4,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.00,conventional,2015,Boston
5,2015-01-04,1.40,116253.44,3267.97,55693.04,109.55,57182.88,57182.88,0.00,0.00,conventional,2015,BuffaloRochester
6,2015-01-04,0.93,5777334.90,2843648.26,2267755.26,137479.64,528451.74,477193.38,47882.56,3375.80,conventional,2015,California
7,2015-01-04,1.19,166006.29,29419.03,47220.75,38568.95,50797.56,NaN,NaN,0.00,conventional,2015,Charlotte
8,2015-01-04,1.11,783068.03,30270.26,550752.19,124506.10,77539.48,72888.46,4651.02,0.00,conventional,2015,Chicago
9,2015-01-04,0.88,228569.58,3274.30,168764.78,1447.06,NaN,17525.31,37445.46,112.67,conventional,2015,CincinnatiDayton

In [26]:
prices_and_sales_df.tail(10)

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
25151,2019-07-14,1.92,18388.22,211.67,3988.14,17.97,14170.44,11680.25,2490.19,0.00,organic,2019,SouthCarolina
25152,2019-07-14,1.59,135850.62,13396.57,2768.15,4263.07,115422.83,108024.40,7398.43,0.00,organic,2019,SouthCentral
25153,2019-07-14,1.61,121947.41,1868.33,12203.15,20.34,107855.59,86169.59,21686.00,0.00,organic,2019,Southeast
25154,2019-07-14,2.46,5032.63,121.45,1306.08,0.00,3605.10,806.67,2798.43,0.00,organic,2019,Spokane
25155,2019-07-14,2.19,6863.87,56.21,3637.63,5.92,3164.11,3155.89,8.22,0.00,organic,2019,StLouis
25156,2019-07-14,1.66,4007.93,218.47,252.29,0.00,3537.17,1460.65,2076.52,0.00,organic,2019,Syracuse
25157,2019-07-14,1.06,3767.89,129.01,0.00,0.00,3638.88,3635.55,3.33,0.00,organic,2019,Tampa
25158,2019-07-14,1.99,1236969.18,106370.49,209820.63,5606.10,915082.38,667494.94,247562.25,25.19,organic,2019,TotalUS
25159,2019-07-14,2.33,209408.22,23918.57,42432.02,985.67,142071.96,75883.13,66163.64,25.19,organic,2019,West
25160,2019-07-14,1.84,16372.24,1195.71,681.10,2765.31,11730.12,10861.33,868.79,0.00,organic,2019,WestTexNewMexico

In [28]:
prices_and_sales_df.shape

(25161, 13)

In [31]:
# their data types and names
prices_and_sales_df.dtypes

Date             object
AveragePrice    float64
TotalVolume     float64
4046            float64
4225            float64
4770            float64
TotalBags       float64
SmallBags       float64
LargeBags       float64
XLargeBags      float64
type             object
year              int64
region           object
dtype: object

In [32]:
prices_and_sales_df.isnull().sum()

Date              0
AveragePrice    902
TotalVolume     949
4046            900
4225            906
4770            916
TotalBags       890
SmallBags       934
LargeBags       947
XLargeBags      868
type              0
year              0
region            0
dtype: int64

In [38]:
# Statistical overview - select only numeric columns. not date etc.
numeric_df = prices_and_sales_df.select_dtypes(include='number')
desc = numeric_df.describe()

# CV = (std / mean) * 100
cv_percent = (numeric_df.std() / numeric_df.mean()) * 100
variance_percent = (numeric_df.var() / (numeric_df.mean() ** 2)) * 100

# Add a new row named 'CV (%)' to the 'desc' DataFrame using .loc[]
desc.loc['Coefficient of Variation (%)'] = cv_percent
desc.loc['Variance (%)'] = variance_percent

desc

,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,year
count,24259.000000,2.421200e+04,2.426100e+04,2.425500e+04,2.424500e+04,2.427100e+04,2.422700e+04,2.421400e+04,24293.000000,25161.000000
mean,1.396018,9.170913e+05,2.981530e+05,2.958284e+05,2.246362e+04,2.950432e+05,2.124199e+05,7.589924e+04,4405.638467,2016.776877
std,0.384476,3.731937e+06,1.288583e+06,1.209445e+06,1.046621e+05,1.232967e+06,8.693043e+05,3.586079e+05,25806.499886,1.323978
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,1.110000,1.323404e+04,8.225900e+02,3.061135e+03,0.000000e+00,7.319505e+03,4.770445e+03,2.358200e+02,0.000000,2016.000000
50%,1.360000,1.190528e+05,9.855110e+03,2.697755e+04,1.937600e+02,4.625771e+04,3.133734e+04,4.043680e+03,0.000000,2017.000000
75%,1.640000,4.733783e+05,1.141219e+05,1.498719e+05,6.078170e+03,1.394295e+05,1.008827e+05,3.050337e+04,313.890000,2018.000000
max,3.250000,6.371614e+07,2.274362e+07,2.047057e+07,2.546439e+06,2.347299e+07,1.543625e+07,7.864297e+06,844929.830000,2019.000000
Coefficient of Variation (%),27.540891,4.069319e+02,4.321886e+02,4.088332e+02,4.659181e+02,4.178938e+02,4.092386e+02,4.724790e+02,585.760726,0.065648
Variance (%),7.585007,1.655936e+03,1.867870e+03,1.671446e+03,2.170797e+03,1.746353e+03,1.674763e+03,2.232364e+03,3431.156286,0.000043